body {
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	background: none;
	color: black;
}
#page {
	width: 100%;
	margin: 0; padding: 0;
	background: none;
}
#header, #menu-bar, #sidebar, h2#postcomment, form#commentform, #footer {
	display: none;
}
.entry a:after {
	content: " [" attr(href) "] ";
}
#printed-article {
	border: 1px solid #666;
	padding: 10px;
	background-color: #efefef;
	
}
table {
    width: 50%;
	padding: 10px;
}

th {
    height: 50px;
}
td {
	text-align: center;
	padding: 10px;
	
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #ee6e73;
  text-align: right;
}

